body {
  height: 100vh;
  margin: 0;
  width: 100vw;
  background: #afa;
}

x-converter {
  /* border: 1px solid #000; */
  /* padding: 25px; */
  display: grid;
  height: 100%;
  overflow: hidden;
  width: 100%;
  align-items: center;
}
