:host {
  position: absolute;
  z-index: 1;
}

.list_menu {
  padding: 5px;
  background: #000d;
  height: 97vh;
  width: 30vw;
}

.flod_menu {
  background: #000d;
  height: 97vh;
  width: 3vw;
}

.list_items::slotted(*) {
  cursor: pointer;
  background: #fffd;
  border: 1px solid #fffd;
  margin: 5px;
  padding: 5px;
  user-select: none;
}

.list_items::slotted(*:hover) {
  cursor: pointer;
  background: #aaad;
}

.list_items::slotted(*:active) {
  border: 1px solid #aaa;
}

.button {
  text-align: right;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  margin: 5px;
  user-select: none;
}

.button:hover {
  color: #ddd;
}

