x_body {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}

.list_items::slotted(*) {
  cursor: pointer;
  background: #fffd;
  border: 1px solid #fffd;
  margin: 5px;
  padding: 5px;
  user-select: none;
}

.list_items::slotted(*:hover) {
  cursor: pointer;
  background: #aaad;
}

.list_items::slotted(*:active) {
  border: 1px solid #aaa;
}
